/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

/* Color Variables */
:root {
    --background-color: #eff6ff;
    --nav-bg-color: #fff;
    --text-color-dark: rgb(85, 83, 83);
    --hover-bg-color: #eee;
    --course-card-shadow-color: rgba(0, 0, 0, 0.1);
    --card-bg-color: #fff;
    --btn-bg-color: orangered;
    --btn-bg-hover-color: rgba(223, 70, 15, 0.856);
    --course-bg-color: #fff;
    --inactive-tab-color: gray;
    --active-tab-color: #000;
    --course-card-bg-color: #bedcff;
    --btn-blue-bg-color: #3984f8;
    --btn-blue-bg-hover-color: #1b4fda;
    --html-color: rgb(25, 94, 54);
    --css-color: rgb(104, 179, 35);
    --js-color: rgb(28, 98, 179);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background-color);
}

.container {
    display: flex;
}

nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: var(--nav-bg-color);
    width: 280px;
    overflow: hidden;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: var(--text-color-dark);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-link {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: var(--hover-bg-color);
}

.nav-logout {
    position: absolute;
    bottom: 0;
}

/* Main Section */
.main-content {
    position: relative;
    padding: 20px;
    width: 100%;
}

.header-main {
    display: flex;
    width: 100%;
}

.header-main i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}

.skills-section {
    display: flex;
    margin-top: 20px;
}

.skills-section .card {
    width: 25%;
    margin: 10px;
    background: var(--card-bg-color);
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.skills-section .card h3 {
    margin: 10px;
    text-transform: capitalize;
}

.skills-section .card p {
    font-size: 12px;
}

.skills-section .card button {
    background: var(--btn-bg-color);
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.skills-section .card button:hover {
    background: var(--btn-bg-hover-color);
}

.skills-section .card i {
    font-size: 22px;
    padding: 10px;
}

/* Courses */
.course-section {
    margin-top: 20px;
    text-transform: capitalize;
}

.course-container {
    width: 100%;
    height: 300px;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: var(--course-bg-color);
    border-radius: 10px;
}

.course-container ul {
    list-style: none;
    display: flex;
}

.course-container ul li {
    margin: 10px;
    color: var(--inactive-tab-color);
    cursor: pointer;
}

.course-container ul .active {
    color: var(--active-tab-color);
    border-bottom: 1px solid var(--active-tab-color);
}

.course-container .course {
    display: flex;
}

.course-card {
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: var(--course-card-bg-color);
}

.course-card p {
    font-size: 12px;
    margin-top: 5px;
}

.course-card button {
    background: var(--btn-blue-bg-color);
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}

.course-card button:hover {
    background: var(--btn-blue-bg-hover-color);
}

.course-card i {
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
}

.html {
    color: var(--html-color);
}

.css {
    color: var(--css-color);
}

.js {
    color: var(--js-color);
}